<div mat-dialog-content>
  <mat-form-field>
    <input disabled required [(ngModel)]="data.workflowSpecId" matInput placeholder="Workflow specification id">
  </mat-form-field>
  <mat-form-field>
    <input required [(ngModel)]="data.name" matInput placeholder="Workflow specification name">
  </mat-form-field>
  <mat-form-field>
    <input required [(ngModel)]="data.fileName" matInput placeholder="File name">
  </mat-form-field>
  <mat-form-field>
    <input required [(ngModel)]="data.displayName" matInput placeholder="Display name">
  </mat-form-field>
  <mat-form-field>
    <textarea required [(ngModel)]="data.description" matInput matTextareaAutosize placeholder="Description"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button (click)="onSubmit()" color="primary" mat-flat-button>Save</button>
  <button (click)="onNoClick()" mat-flat-button>Cancel</button>
</div>
