<mat-card fxLayoutGap>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput
            (change)="render()"
            [(ngModel)]="template"
            ></textarea>
        </mat-form-field>
    </p>

    <markdown [data]="result"></markdown>
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="">Exit</button>
        <button mat-button color="primary" (click)="render()">Render</button>
     </div>
</mat-card>
