.content {
  min-height: 600px;
  padding: 10px;
}
.sync-sidenav{
  padding: 10px;
}

.update {
  background: yellow;
}
.revert {
  background: yellow;
}
.delete {
  background: lightsalmon;
}
.keep{
  background: lightgreen;
}
.copy {
  background: lightgreen;
}

.currentsource {
  background: lightblue;
}

.sync-cb {
  horiz-align: center;
  padding-top: 30px;
  padding-left: 30px;
}

.sync-text {
  margin-right: 30px;
}

.sync-row {
  padding-top: 10px;
  padding-bottom : 10px;
}
