<div class="container mat-typography" fxLayout="column" fxLayoutGap="10px">
  <h1>Workflow Specifications</h1>
  <div fxLayout="row" fxLayoutGap="10px">
    <button id="add_spec" mat-flat-button color="primary" (click)="editWorkflowSpec()">
      <mat-icon>library_add</mat-icon>
      Add new workflow specification
    </button>
    <button id="add_category" mat-flat-button color="accent" (click)="editWorkflowSpecCategory()">
      <mat-icon>post_add</mat-icon>
      Add category
    </button>
      <mat-form-field class="search-field">
        <input matInput type="search" placeholder="Search Workflows" class="form-control" [formControl]="searchField">
      </mat-form-field>
  </div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
      <ng-container *ngIf="masterStatusSpec">
        <div class="category">
          <h4>Master Specification</h4>
          <mat-list>
            <mat-list-item class="workflow-spec" fxLayout="row">
              <a class="spec_menu_item" (click)="selectSpec(masterStatusSpec)">{{masterStatusSpec.display_name}}</a>
            </mat-list-item>
          </mat-list>
        </div>
      </ng-container>
      <mat-divider></mat-divider>


      <mat-accordion class="example-headers-align" multi="false">
      <ng-container *ngFor="let cat of workflowSpecsByCategory">

        <div *ngIf="!(searchField.value && cat.workflow_specs.length === 0)">
        <ng-container *ngIf="!(cat.id === null && cat.workflow_specs.length === 0)">
          <mat-expansion-panel hideToggle (opened)="selectCat(cat)" [expanded]="selectedSpec.category_id == cat.id">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{cat.display_name}}
              </mat-panel-title>
              <mat-panel-description>
                ({{cat.name}})
              </mat-panel-description>
              <button mat-mini-fab color="primary" style="box-shadow: none">
                {{cat.workflow_specs.length}}
              </button>
            </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item *ngFor="let wfs of cat.workflow_specs" class="workflow-spec" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <a [ngClass]="{'spec_menu_item':true, 'spec-selected': wfs.id == selectedSpec.id}" (click)="selectSpec(wfs)">{{wfs.display_name}}</a>
                <span class="spec-actions" fxLayout="row" fxLayoutGap="10px" *ngIf="cat.id !== null">
                <button
                  *ngIf="cat && cat.workflow_specs.length > 0 && wfs.display_order !== 0"
                  mat-icon-button
                  title="Move up"
                  color="primary"
                  (click)="editSpecDisplayOrder(wfs.id, -1, cat.workflow_specs)"
                >
                  <mat-icon>arrow_upward</mat-icon>
                </button>
                <button
                  *ngIf="cat && cat.workflow_specs.length > 0 && (wfs.display_order < cat.workflow_specs.length - 1)"
                  mat-icon-button
                  title="Move down"
                  color="primary"
                  (click)="editSpecDisplayOrder(wfs.id, 1, cat.workflow_specs)"
                >
                  <mat-icon>arrow_downward</mat-icon>
                </button>
              </span>
                <!--
                <ng-container *ngTemplateOutlet="workflowSpecCard; context: {wfs: wfs, cat: cat}"></ng-container>
                -->
              </mat-list-item>
            </mat-list>

            <div *ngIf="cat.workflow_specs.length === 0">No workflow specs in this category</div>
            <mat-action-row>
              <button mat-mini-fab color="primary" (click)="editWorkflowSpecCategory(cat)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="cat.display_order > 0"
                mat-mini-fab
                title="Move up"
                color="primary"
                (click)="editCategoryDisplayOrder(cat.id, -1, workflowSpecsByCategory)"
              >
                <mat-icon>arrow_upward</mat-icon>
              </button>
              <button
                *ngIf="cat.display_order < workflowSpecsByCategory.length - 2"
                mat-mini-fab
                title="Move down"
                color="primary"
                (click)="editCategoryDisplayOrder(cat.id, 1, workflowSpecsByCategory)"
              >
                <mat-icon>arrow_downward</mat-icon>
              </button>
              <button mat-icon-button title="Delete this category" color="warn"
                      (click)="confirmDeleteWorkflowSpecCategory(cat)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-action-row>
          </mat-expansion-panel>

        </ng-container>
        </div>
      </ng-container>
      </mat-accordion>
    </mat-drawer>

    <div class="content">
        <ng-container *ngIf="selectedSpec">
          <ng-container *ngTemplateOutlet="workflowSpecCard; context: {wfs: selectedSpec, cat: null}"></ng-container>
        </ng-container>
    </div>
  </mat-drawer-container>


  <ng-template #workflowSpecCard let-wfs="wfs" let-cat="cat">
    <app-workflow-spec-card
      [workflowSpec]="wfs"
      [actionButtons]="actionButtons"
    ></app-workflow-spec-card>
    <ng-template #actionButtons>
      <div class="workflow-spec-actions">
        <button mat-mini-fab title="Check for errors in this workflow specification" color="accent"
                (click)="validateWorkflowSpec(wfs)">
          <mat-icon>verified_user</mat-icon>
        </button>
        <button mat-mini-fab title="Edit this workflow specification" color="primary" (click)="editWorkflowSpec(wfs)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button title="Delete this workflow specification" color="warn"
                (click)="confirmDeleteWorkflowSpec(wfs)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
  </ng-template>

</div>
