@import "../../config";


.container {
  padding: 3rem;
}

.content {
  min-height: 600px;
}

.category {
  padding: 1rem 1rem 0 0;

  h4 {
    margin: 1rem 1rem 0 0;
  }

  .category-actions {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    .category-actions {
      opacity: 1;
    }
  }

}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: auto;
}

.workflow-spec {
  border-left: 4px solid $brand-gray-light;
  font-size: 1em;
  &:hover {
    border-left: 4px solid $brand-primary;
    background-color: $brand-primary-tint-4;
    cursor: pointer;
  }

  cursor: pointer;
  .spec_menu_item {
    flex-flow: row;
    display: inline-block;
    width: 300px;
    margin-left: 20px;
  }
  .spec-selected {
    font-weight: bold;
  }
  .spec-actions {
    width: 100px;
    opacity: 0;
  }
  &:hover {
    .spec-actions {
      opacity: 1;
    }
  }
}


.workflow-spec-actions {
  button {
    margin-right: 1em;
  }
}
