@import "../../config";

::ng-deep mat-list-item {
  border-left: 4px solid $brand-gray-light;

  &:hover {
    border-left: 4px solid $brand-primary;
    background-color: $brand-primary-tint-4;
    cursor: pointer;
  }
}
