<mat-card class="mat-elevation-z0 {{workflowSpec.is_master_spec ? 'master-status' : ''}}" [id]="workflowSpec.id">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <h3>{{workflowSpec.display_name}}</h3>
      <div class="action-buttons">
        <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
      </div>
      <div
        *ngIf="workflowSpec.is_master_spec"
        class="master-status-label"
        matTooltip="This workflow specification controls the availability of the other workflow specifications"
      >
        Master status spec
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl gdAreas="field value" gdColumns="10ch auto">
      <dt>ID</dt><dd>{{workflowSpec.id}}</dd>
      <dt>Name</dt><dd>{{workflowSpec.name}}</dd>
      <dt>Description</dt><dd>{{workflowSpec.description}}</dd>
      <dt>Standalone</dt><dd *ngIf="workflowSpec.standalone; then thenBlock else elseBlock"></dd>
      <ng-template #thenBlock><dd>True</dd></ng-template>
      <ng-template #elseBlock><dd>False</dd></ng-template>
    </dl>
    <h4>Workflow Spec Files</h4>
    <app-file-list [workflowSpec]="workflowSpec"></app-file-list>
    <div *ngIf="!workflowSpec.library">
      <h4>Included Libraries</h4>
      <app-library-list [workflowSpecId]="workflowSpec.id"></app-library-list>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
