@import "../../config";

mat-card {
  margin-bottom: 1em;
  border: 1px solid $brand-gray;

  &.master-status {
    position: relative;
    border: 4px solid $brand-accent;
    overflow: hidden;

    .master-status-label {
      position: absolute;
      width: 300px;
      font-size: 1rem;
      text-align: center;
      top: 55px;
      right: -90px;
      background-color: $brand-accent;
      color: white;
      padding: 10px;
      transform: rotate(45deg);

    }
  }

  mat-card-title {
    h3 {
      margin: 2rem 0 2rem 0;
    }

    .action-buttons {
      opacity: 0;
    }

    &:hover {
      .action-buttons {
        opacity: 1;
      }
    }
  }

  mat-card-content {
    padding-left: 16px;

    dl { margin: 0 0 3rem 0; }
    dt { font-weight: bold; }
  }

}
